{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Your tasks
      </h1>


      <table>
        <thead>
          <tr>
            <th scope="col">NINO</th>
            <th scope="col">Task created</th>
            <th scope="col">Task type</th>
            <th scope="col">Type</th>
            <th scope="col">Outcome</th>
          </tr>
        </thead>
        <tbody>
          <tr data-href="record-outcome">
            <th scope="row">AA000001A</th>
            <td>19 Sep 2017</td>
            <td>Start employment</td>
            <td>Positive</td>
            <td><span class="status-black">outcome not recorded</span></td>
          </tr>
          <tr>
            <th scope="row">AA000001A</th>
            <td>19 Sep 2017</td>
            <td>Fluctuating earnings</td>
            <td>Positive</td>
            <td><span class="status-green">Outcome recorded</span></td>
          </tr>
          <tr>
            <th scope="row">AA000001A</th>
            <td>19 Sep 2017</td>
            <td>Fluctuating earnings</td>
            <td>Positive</td>
            <td><span class="status-green">Outcome recorded</span></td>
          </tr>
          <tr>
            <th scope="row">AA000001A</th>
            <td>19 Sep 2017</td>
            <td>Start employment</td>
            <td>Positive</td>
            <td><span class="status-green">Outcome recorded</span></td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p><a href="#" class="button button-secondary">Add task</a></p>







    </div>
  </div>
</main>

{% endblock %}
