{% extends "layout.html" %}

{% block page_title %}
  MI
{% endblock %}

{% block content %}
<div id="global-nav-bar">
  <div class="nav-container">
    <div class="system-nav">
      <ul>
        <li><a href="/">Your tasks</a></li>
        <li><a href="#">Make a new request</a></li>
        <li><a href="#">Download MI</a></li>
        <li><a href="#">Upload</a></li>
        <li class="selected"><a href="mi">Staging MI</a></li>
      </ul>
    </div>
  </div>
</div>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.back()" class="link-back">Back</a>
      <h1 class="heading-xlarge">
        Team leader information
        <span class="heading-secondary"><a href="#">Monday, 22 January - now </a></span>
      </h1>


      <div class="column-one-third" style="border-left: 5px solid #005EA5;">
        <div class="data">
          <span class="data-item bold-xlarge">60</span>
          <span class="data-item bold-xsmall">Alerts open</span>
        </div>
      </div>

      <div class="column-one-third" style="border-left: 5px solid #005EA5;">
        <div class="data">
          <span class="data-item bold-xlarge">174</span>
          <span class="data-item bold-xsmall">Alerts with outcomes</span>
        </div>
      </div>

      <div class="column-one-third" style="border-left: 5px solid #005EA5;">
        <div class="data">
          <span class="data-item bold-xlarge">63</span>
          <span class="data-item bold-xsmall">Alerts expired</span>
        </div>
      </div>

      </div>

      <div class="column-full">
        <div class="heading-medium">
          Task summary
        </div>
      <table>
        <thead>
          <tr>
            <th scope="col">Users</th>
            <th scope="col">Alerts open</th>
            <th scope="col">Alerts with outcomes</th>
            <th scope="col">Alerts expired</th>
          </tr>
        </thead>
        <tbody>
          <tr data-href="mi-breakdown">
            <th scope="row">John Smith</th>
            <td>20</td>
            <td>56</td>
            <td>20</td>
          </tr>
          <tr>
            <th scope="row">Bill Shnooks</th>
            <td>24</td>
            <td>72</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Julie Tharp</th>
            <td>12</td>
            <td>34</td>
            <td>7</td>
          </tr>
          <tr>
            <th scope="row">Jason Karp</th>
            <td>4</td>
            <td>12</td>
            <td>34</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p><a href="#" class="button button-secondary">Export MI</a></p>







    </div>
  </div>
</main>

{% endblock %}
