{% extends "layout.html" %}

{% block page_title %}
  Real time earnings
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <a href="javascript:history.back()" class="link-back">Back</a>

      <h2 class="heading-xlarge">
        AA000001A<br/>
        <span><span class="status-black">Outcome not recorded</span></span>
      </h2>

      <h3 class="heading-medium">STANDARD LIFE ASSURANCE PLC / (ANNUITY PENSION PYMTS) (Pension) : Start date not stated - End date not stated</h3>
      <table>
        <thead>
          <tr>
            <th scope="col">Select for averaging</th>
            <th scope="col">Date paid</th>
            <th scope="col">Tax year</th>
            <th scope="col">Freq</th>
            <th scope="col">Period</th>
            <th scope="col">Gross</th>
            <th scope="col">Net</th>
            <th scope="col">Pay not subject to tax</th>
            <th scope="col">Deduction from net pay</th>
            <th scope="col">Deduction from gross pay</th>
            <th scope="col">Benefits in kind</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input id="checkBox" type="checkbox"></th>
            <td>21/12/17</td>
            <td>17-18</td>
            <td>Monthly</td>
            <td>9</td>
            <td>29.23</td>
            <td>29.23</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <th scope="row"><input id="checkBox" type="checkbox"></th>
            <td>21/12/17</td>
            <td>17-18</td>
            <td>Monthly</td>
            <td>9</td>
            <td>29.23</td>
            <td>29.23</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <th scope="row"><input id="checkBox" type="checkbox"></th>
            <td>21/12/17</td>
            <td>17-18</td>
            <td>Monthly</td>
            <td>9</td>
            <td>29.23</td>
            <td>29.23</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
          </tr>
          <tr>
            <th scope="row"><input id="checkBox" type="checkbox"></th>
            <td>21/12/17</td>
            <td>17-18</td>
            <td>Monthly</td>
            <td>9</td>
            <td>29.23</td>
            <td>29.23</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>0.00</td>
          </tr>
        </tbody>
      </table>

      <br/>

      <p><a href="outcome-recorded" class="button">Record outcome</a></p>







    </div>
  </div>
</main>

{% endblock %}
