{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-xlarge">
        AA000001A<br/>
        <span><a href="#" class="status-green">Outcome recorded</a></span>
      </h2>

      <table>
        <tbody>
          <tr>
            <td class="bold">Task created</td>
            <td>19 Sep 2017</td>
          </tr>
          <tr>
            <td class="bold">Task type</td>
            <td>Start employment</td>
          </tr>
          <tr>
            <td class="bold">Type</td>
            <td>Positive</td>
          </tr>
          <tr>
            <td class="bold">Award before</td>
            <td>&pound;76</td>
          </tr>
          <tr>
            <td class="bold">Award after</td>
            <td>&pound;96</td>
          </tr>
        </tbody>
      </table>
      <br/>
      <p><a href="outcome-recorded" class="button">Back to tasks</a></p>







    </div>
  </div>
</main>

{% endblock %}
